.App {
  .addTaskContainer {
    margin-top: 100px;
    border-radius: 10px;

    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    border: none;
    width: 500px;
    height: 500px;
    background-color: rgba(6, 6, 65, 0.824);

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    .taskForm {
      align-items: center;

      input {
        background-color: rgba(0, 94, 255, 0.765);
        color: white;
        border: none;
        border-radius: 5px;
        height: 25px;
        margin-top: 5px;
        width: 250px;
      }
      textarea {
        color: white;
        background-color: rgba(0, 94, 255, 0.765);
        border: none;
        border-radius: 5px;
        margin-top: 5px;
        height: 100px;
        width: 250px;
      }
    }
    .btnAdd {
      margin-top: auto;
    }
  }
}

.taskForm {
  display: flex;
  flex-direction: column;
}
